.photo-grid {
    border: 1px solid red;
    max-width: 1184px;
    min-height: 671px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    gap: 16px;
}