.cover__subtitle {
    margin: 0 auto;
    width: 360px;
    height: 66px;
    bottom: 245px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}