.footer__link {
    font-family: Inter, 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-right: 18px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:nth-of-type(5n) {
    margin-right: 0px;
}

@media (max-width:320px) {
    .footer__link {
        margin-right: 0px;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
    .footer__link:nth-of-type(5n) {
        margin-bottom: 48px;
    }
}