.overlay {
    width: 100%;
    min-height: 740px;
    transition: 1s;
    background: #2a2c2f49;
}

.overlay:hover {
    background: #2A2C2F;
    opacity: 0.8;
}

@media (max-width:768px) {
    .overlay {
        position: absolute;
        background: #2a2c2f49;
        width: 100%;
    }
}