.cover {
    border: 1px solid red;
    max-width: 1184px;
    min-height: 740px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    background-image: url('../../../images/cover-trains.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}