.cover {
    max-width: 1184px;
    min-height: 740px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    background-image: url('../../images/cover-trains.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cover .cover__overlay {
    text-decoration: none;
}

@media (max-width:1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width:768px) {
    .cover {
        min-height: 480px;
        margin-top: 90px;
    }
}

@media (max-width:320px) {
    .cover {
        min-height: 200px;
    }
}