.header__lang-link_active {
    max-width: 30px;
    min-height: 28px;
    padding-right: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    transition: 2s;
    color: #FFFFFF;
}