@media (max-width:700px) {
    .cover__subtitle {
        width: 288px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 33px;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
    }
}