.cover__title {
    margin: auto;
    width: 560px;
    margin-top: 245px;
    margin-bottom: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

@media (max-width:1024px) {
    .cover__title {
        max-width: 100%;
        margin-top: 195px;
        position: static;
    }
}

@media (max-width:768px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media (max-width:700px) {
    .cover__title {
        font-size: 32px;
    }
}

@media (max-width:320px) {
    .cover__title {
        width: 288px;
        margin-top: 33px;
        text-align: center;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}